<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">
   
     <context:annotation-config></context:annotation-config>  
     
     <context:component-scan base-package="com.weimeng.impl"></context:component-scan> 
     <context:component-scan base-package="com.weimeng.impl.web.register"></context:component-scan>
     <context:component-scan base-package="com.weimeng.impl.web.signInggk"></context:component-scan>
     <context:component-scan base-package="com.weimeng.impl.web.merry"></context:component-scan>
     <context:component-scan base-package="com.weimeng.impl.web.lotty"></context:component-scan>
     
     <context:property-placeholder location="classpath:confiles/dbConfig.properties"/> 
     
     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
     	<property name="driverClassName" value="${dbConfig.driverName}"></property>
     	<property name="url" value="${dbConfig.url}"> </property>
     	<property name="username" value="${dbConfig.username}"></property>
     	<property name="password" value="${dbConfig.password}"></property>
     </bean>
     <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
     	<property name="dataSource">
     		<ref bean="dataSource" />
     	</property>
     	<property name="hibernateProperties">
     		<props>
     			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
     			<prop key="hibernate.hbm2ddl.auto">update</prop>
     		</props>
     	</property>	
     	 <property name="annotatedClasses">
			<list>
			<value>com.weimeng.entity.web.register.WechatBaseInfo</value>	
			<value>com.weimeng.entity.web.signInggk.WechatSignInfo</value>
			<value>com.weimeng.entity.web.signInggk.WechatPrizeInfo</value>
			<value>com.weimeng.entity.web.signInggk.WechatTotalSignAccount</value>
			<value>com.weimeng.entity.web.signInggk.WechatWinnerUtil</value>
			<value>com.weimeng.entity.web.signInggk.WechatWinPrizes</value>
			<value>com.weimeng.entity.web.recommend.WechatRecommCustomer</value>
			<value>com.weimeng.entity.web.recommend.WechatCallsCumulative</value>
			<value>com.weimeng.entity.web.Admin.AdminBaseInfo</value>
			<value>com.weimeng.entity.web.merry.MerryAchieverInfo</value>
			<value>com.weimeng.entity.web.merry.MerryPrizeInfo</value>
			<value>com.weimeng.entity.web.merry.MerryUnopenInfo</value></list>
		</property>
     </bean>
     <bean id="transactionManager"
     	class="org.springframework.orm.hibernate4.HibernateTransactionManager">
     	<property name="sessionFactory" ref="sessionFactory" />
     </bean>
     <tx:annotation-driven transaction-manager="transactionManager" /></beans>
