body {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: normal 100% Helvetica, Arial, sans-serif;
}

.none {display: none;}

.top_warp {
	position: relative;
	width: 100%;
	height: 535px;
	background-image: url(../../files/images/register/top.png);
	background-repeat: no-repeat;
}

.logo {
	position: absolute;
	width: 25%;
	height: 100px;
	left: 40%;
	top: 40px;
}

.title {
	position: absolute;
	left: 22%;
	top: 150px;
}

.title span {
	font-size: 1.5em;
	font-weight: bold;
	color: #3b82b5;
}

.form {
	position: absolute;
	width: 70%;
	left: 10%;
	top: 240px;
}

.textSty {
	height: 40px;
	width: 100%;
	font-size: 1.5em;
	color: #ffffff;
	background: transparent;
	-webkit-border-radius: 0px;
	border-bottom: 2px solid #FFFFFF;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	background-image: url(../../files/images/register/tel.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-left: 30px;
	text-indent: 1em;
	padding-bottom: 0px;
}

.code {
	position: absolute;
	top: 90px;
	width: 100%;
}

.code-right {
	position: absolute;
	width: 45%;
	left: 65%;
}

.code-right button {
	width: 100%;
	height: 40px;
	background: transparent;
	-webkit-border-radius: 3px;
	border: 2px solid #32cd32;
	font-size: 0.875em;
	color: #32cd32;
}

.code-left {
	position: absolute;
	float: left;
	width: 50%;
}

.validate {
	height: 40px;
	width: 100%;
	font-size: 1.5em;
	color: #ffffff;
	background: transparent;
	-webkit-border-radius: 0px;
	border-bottom: 2px solid #FFFFFF;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	background-image: url(../../files/images/register/key.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-left: 30px;
	text-indent: 1em;
	padding-bottom: 0px;
}

.recommend {
	position: absolute;
	top: 180px;
	width: 100%;
}

.footer {
	position: absolute;
	width:100%;
	top:530px;
}

.submit {
	position: absolute;
	width:70%;
	left:18%;
}

.submit button {
	width:100%;
	height:40px;
	-webkit-border-radius: 3px;
	background-color: #3b82b5;
	border: 0px;
	font-size:1.5em;
	color:#ffffff;
}

.copy {
	position: absolute;
	width:50%;
	top:150px;
	left:25%;
	height:50px;
}

.copy span {
	font-size:1em;
	color:#a89d93;
}

::-webkit-input-placeholder { 
    color: #ffffff; text-overflow: ellipsis; 
}
:-moz-placeholder { 
    color: #ffffff !important; text-overflow: ellipsis; 
}
::-moz-placeholder { 
    color: #ffffff !important; text-overflow: ellipsis; 
} /* for the future */
:-ms-input-placeholder { 
    color: #ffffff !important; text-overflow: ellipsis; 
}

img, object { max-width: 100%;}

.pop{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.6); z-index: 9; } 
.pop_suc{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.6); z-index: 9; } 

.alert_wrap{
	position: relative;
	width: 320px;
	margin: 50px auto; 
	width: 280px;
	background-color: #f8f7f5;
	border-radius: 10px;
	text-align: center;
	padding: 20px 0 30px;
}

.alert_wrap_suc{
	position: relative;
	width: 320px;
	margin: 50px auto; 
	width: 280px;
	background-color: #f8f7f5;
	border-radius: 10px;
	text-align: center;
	padding: 20px 0 30px;
}

.alert_wrap img {
	width: 80px;
	height: 80px;
}

.alert_wrap_suc img {
	width: 80px;
	height: 80px;
}

.alert_msg{
	color: #565a5c;
	margin: 10px auto 15px;
	font-size: 0.875em;
	width: 60%;
	line-height: 20px;
}
.alert_btn{
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #ff8088;
	border-radius: 5px;
}
