body {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background:#fc1a15;
}

.whole {
	position: relative;
	width: 100%;
}


.excrete {
	position: absolute;
	width:100%;
	top:400px;
}


.excreteFriend {
	position: absolute;
	width:100%;
	top:340px;
}

.excreteFriend span {
	position: absolute;
	width:70%;
	left:22%;
	font-size:18px;
	font-weight:bold;
	color:#dfd315;
}

.excrete span {
	position: absolute;
	width:75%;
	left:15%;
	font-size:18px;
	font-weight:bold;
	color:#dfd315;
}

.friendbtnun {
	position: absolute;
	top:55px;
	left:25%;
	width:50%;
	height:40px;
	background:#dfd315;
    border:0px;
    -webkit-border-radius: 20px;
    font-size:18px;
    color:#fc1a15;
} 

.friendbtn {
	position: absolute;
	top:45px;
	left:25%;
	width:50%;
	height:40px;
	background:#dfd315;
    border:0px;
    -webkit-border-radius: 20px;
    font-size:18px;
    color:#fc1a15;
} 

.prize {
	position: absolute;
	width:70%;
	left:18%;
	top:380px;
}

.prize span{
	font-size:18px;
	color:#dfd315;
	font-weight:bold;
}

.iWant {
	position: absolute;
	top:100px;
	left:25%;
	width:50%;
	height:40px;
	background:#dfd315;
    border:0px;
    -webkit-border-radius: 20px;
    font-size:18px;
    color:#fc1a15;
}

.pop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 680px;
	background: rgba(0, 0, 0, .6);
	z-index: 9;
	background: rgba(0, 0, 0, .6);
	z-index: 9;
}

.share_friend {
	position: relative;
	width: 320px;
	margin: 0px auto; 
}

.prizeShow{
	position: relative;
	width: 80%;
	left:15%;
	top:100px;
}

.prizeContent {
	position: absolute;
	left:16%;
}

.prizeContentSty{
	font-size:24px;
	color:#ffffff;
}
.none {
	display:none;
}

